.xzoom-container {
  display: flex;
  justify-content: center;
}
.xzoom-container .like_me {
  position: absolute;
  right: 100px;
  top: 25px;
  z-index: 10;
}
.xzoom-container .full_me {
  position: absolute;
  top: 400px;
  left: 50px;
  z-index: 10;
}
.xzoom-container .full_me:hover {
  cursor: pointer;
}
.xzoom-container .zoomzoom_me {
  position: absolute;
  top: 400px;
  right: 95px;
  z-index: 10;
}
.xzoom-container .zoomzoom_me:hover {
  cursor: pointer;
}
.xzoom-container .xzoom4 {
  width: 100%;
}
.xzoom-thumbs {
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.xzoom-thumbs .wrp_zoom_nav {
  height: 126px;
  width: 126px;
  flex-basis: 115px;
}
.share_this {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: "MONTSERRAT-REGULAR", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.block ul {
  display: flex;
}
.block li {
  padding-top: 4px;
  list-style: none;
  font-size: 18px;
}
.block li a {
  color: #cbcbcb;
}
.main-container {
  padding-top: 2em;
}
.count-input {
  position: relative;
  width: 100%;
  max-width: 165px;
  margin: 10px 0;
  font-family: MONTSERRAT-REGULAR;
  font-size: 18px;
}
.count-input input {
  width: 50px;
  margin-left: 58px;
  height: 36.92307692px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration: none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}
.color_select label {
  float: left;
  width: 25px;
  height: 25px;
  margin: 4px;
  background-color: #EFEFEF;
  border-radius: 1px;
  border: 1px solid #D0D0D0;
  cursor: pointer;
}
.color_select label.green input:checked + span {
  transform: scale(1.3);
  background-color: green;
}
.color_select label.red input:checked + span {
  transform: scale(1.3);
  background-color: red;
}
.color_select label.blue input:checked + span {
  transform: scale(1.3);
  background-color: blue;
}
.color_select label.gold input:checked + span {
  transform: scale(1.3);
  background-color: gold;
}
.color_select label.yellow input:checked + span {
  transform: scale(1.3);
  background-color: yellow;
}
.color_select label.pink input:checked + span {
  transform: scale(1.3);
  background-color: pink;
}
.color_select label span {
  text-align: center;
  font-size: 12px;
  padding: 3px 0px;
  display: block;
}
.color_select input {
  display: none;
}
.some_else_image {
  display: flex;
  justify-content: space-around;
}
.some_else_image img {
  padding: 5px;
}
.some_else_image img {
  width: 120px;
  height: 120px;
}
@media screen and (max-width: 1024px) {
  .some_else_image {
    flex-wrap: wrap;
  }
}
.panel-group-radio .text-danger {
  text-align: center;
}
.panel-group-radio .panel-body .btn-group {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
.panel-group-radio .panel-body .btn-group .radio {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
}
.panel-group-radio .panel-body .btn-group .radio input {
  display: none;
}
.panel-group-radio .panel-body .btn-group .radio label {
  padding-left: 10px;
  border-radius: 1px;
  font-size: 10px;
}
.panel-group-radio .panel-body .btn-primary {
  border-color: #dbdbdb;
}
.panel-group-radio .panel-heading .control-label {
  font-size: 16px;
}
.wrp_select_area label {
  display: block;
}
.wrp_select_area .nice-select {
  line-height: 28px;
}
.info_block {
  font-size: 16px;
  font-family: MONTSERRAT-REGULAR;
  color: black;
}
.info_block ul > li {
  padding-top: 4px;
  list-style: none;
  font-size: 18px;
}
.info_block ul {
  padding-left: 0;
}
.title.title--center {
  font-family: MONTSERRAT-REGULAR;
  font-size: 30px;
}
.price-old-live {
  text-decoration: line-through;
  font-size: 20px;
}
