#payment-address .form-control {
  border-radius: 0;
}
.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
}
.name img {
  width: 180px;
}
.name .price {
  font-size: 18px;
}
.ligthgray {
  background-color: #f7f7f7;
}
.ligthgray td {
  border-top: none !important;
}
.info_cart {
  padding-left: 2em;
  min-width: 220px;
}
.wrp_text_flex {
  display: flex;
  justify-content: space-between;
}
tr.subtotal {
  background-color: transparent;
}
#totals td {
  border-top: none;
}
#confirm .payment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.time_line {
  display: flex;
  justify-content: center;
}
