/* megamenu-menu */
#megamenu-menu {
  background-color: transparent;
  border-color: transparent;
  min-height: 40px;
}
#megamenu-menu .nav > li > a {
  color: #333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 14px 12px 10px 12px;
  height: 47px;
  background-color: transparent;
}
#megamenu-menu .nav > li > a:hover,
#megamenu-menu .nav > li.open > a {
  background-color: rgba(0, 0, 0, 0.1);
}
#megamenu-menu .dropdown-menu {
  padding-bottom: 0;
}
#megamenu-menu .dropdown-inner {
  display: table;
  width: 100%;
}
#megamenu-menu .dropdown-inner ul {
  display: table-cell;
}
#megamenu-menu .dropdown-inner a {
  /* min-width: 150px; */
  display: block;
  padding: 4px 12px;
  clear: both;
  line-height: 20px;
  color: #333333;
  font-size: 12px;
}
#megamenu-menu .dropdown-inner li a:hover {
  color: #FFFFFF;
}
#megamenu-menu #category {
  float: left;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #333;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#megamenu-menu .btn-navbar {
  font-size: 15px;
  font-stretch: expanded;
  color: #FFF;
  padding: 2px 18px;
  float: right;
  background-color: grey;
  border-color: lightgrey;
}
#megamenu-menu .btn-navbar:hover,
#megamenu-menu .btn-navbar:focus,
#megamenu-menu .btn-navbar:active,
#megamenu-menu .btn-navbar.disabled,
#megamenu-menu .btn-navbar[disabled] {
  color: #ffffff;
  background-color: grey;
}
@media (min-width: 768px) {
  #megamenu-menu .dropdown:hover .dropdown-menu {
    display: block;
  }
  #megamenu-menu {
    /* background-color: #ff0000 !important; */
    background-image: none !important;
    background-repeat: repeat-x;
    border-color: transparent;
    border: none!important;
    min-height: 49px;
  }
  #megamenu-menu .megamenu-type-category-simple ul.megamenu-haschild li {
    position: relative;
  }
  #megamenu-menu .megamenu-type-category-simple ul.megamenu-haschild li ul {
    display: none !important;
  }
  #megamenu-menu .megamenu-type-category-simple ul.megamenu-haschild li {
    list-style: none !important;
  }
  #megamenu-menu .megamenu-type-category-simple ul.megamenu-haschild li:hover > ul {
    display: block !important;
    position: absolute !important;
    top: 0 !important;
  }
  #megamenu-menu .megamenu-type-category-simple .megamenu-issubchild {
    background-image: url("/catalog/view/theme/default/image/arrow_right.png");
    background-position: right center;
    background-repeat: no-repeat;
  }
  #megamenu-menu .megamenu-type-category-simple .megamenu-ischild {
    background-clip: padding-box;
    background-color: #fff;
    border: none!important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    font-size: 14px;
    list-style: outside none none;
    min-width: 160px;
    z-index: 1001;
  }
  #megamenu-menu .megamenu-type-product .megamenu-parent-block {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: top;
    width: 160px;
  }
  #megamenu-menu .megamenu-type-manufacturer .megamenu-parent-block {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: top;
    width: 120px;
  }
  #megamenu-menu .megamenu-type-category-full .megamenu-parent-block {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: top;
    width: 140px;
  }
  #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-block {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: top;
    width: 120px;
  }
  #megamenu-menu .megamenu-type-product .megamenu-parent-title {
    display: block;
    padding: 5px;
    text-decoration: none;
  }
  #megamenu-menu .megamenu-type-manufacturer .megamenu-parent-title {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
  }
  #megamenu-menu .megamenu-type-manufacturer .megamenu-parent-img img {
    background: #fff none repeat scroll 0 0;
    border: none!important;
    border-radius: 3px;
  }
  #megamenu-menu .megamenu-type-product .megamenu-parent-img img {
    background: #fff none repeat scroll 0 0;
    border: none!important;
    border-radius: 3px;
  }
  #megamenu-menu .megamenu-type-manufacturer a:hover {
    background: none !important;
    color: #333 !important;
  }
  #megamenu-menu .megamenu-type-product a:hover {
    background: none !important;
    color: #333 !important;
  }
  #megamenu-menu .megamenu-type-category-full .megamenu-parent-title {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-title:hover {
    text-decoration: underline;
  }
  #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-title {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 5px;
    text-decoration: none;
  }
  #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-img img {
    background: #fff none repeat scroll 0 0;
    border: none!important;
    border-radius: 3px;
  }
  #megamenu-menu .megamenu-type-category-full a:hover {
    background: none !important;
    color: #333 !important;
  }
  #megamenu-menu .megamenu-type-category-full-image a:hover {
    color: #333 !important;
    background: none !important;
  }
  #megamenu-menu .megamenu-type-manufacturer a.megamenu-parent-title:hover {
    text-decoration: underline;
  }
  #megamenu-menu .megamenu-type-product a.megamenu-parent-title:hover {
    text-decoration: underline;
  }
  #megamenu-menu .megamenu-type-category-full .megamenu-ischild a:hover {
    text-decoration: underline;
  }
  #megamenu-menu .megamenu-type-category-full-image .megamenu-ischild a:hover {
    text-decoration: underline;
  }
  #megamenu-menu .megamenu-type-product a.megamenu-parent-img {
    padding: 0 !important;
  }
  #megamenu-menu .megamenu-type-manufacturer a.megamenu-parent-img {
    padding: 0 !important;
  }
  #megamenu-menu .megamenu-type-category-full-image a.megamenu-parent-img {
    padding: 0 !important;
  }
  #megamenu-menu .megamenu-type-product {
    width: 530px;
  }
  #megamenu-menu .megamenu-type-manufacturer {
    width: 530px;
  }
  #megamenu-menu .megamenu-type-category-simple .dropdown-inner {
    display: block !important;
  }
  #megamenu-menu .megamenu-type-category-simple .megamenu-haschild {
    display: block !important;
  }
  #megamenu-menu .megamenu-type-information .dropdown-inner {
    display: block !important;
  }
  #megamenu-menu .megamenu-type-information .megamenu-haschild {
    display: block !important;
  }
  #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-title {
    border: 0;
    font-weight: bold;
  }
  #megamenu-menu .megamenu-type-html {
    padding: 5px;
  }
  #megamenu-menu .megamenu-type-auth {
    padding: 5px;
  }
  #megamenu-menu .megamenu-type-product .dropprice {
    color: #55b12b;
    font-size: 12px;
  }
  #megamenu-menu .megamenu-type-product .dropprice span {
    margin-right: 3px;
    color: #f00;
    text-decoration: line-through;
  }
  #megamenu-menu .megamenu-type-auth {
    padding: 10px;
    width: 217px;
  }
  #megamenu-menu .megamenu-type-auth a {
    color: #23a1d1;
    padding: 0px;
  }
  #megamenu-menu .megamenu-type-auth a:hover {
    color: #23527c !important;
  }
  #megamenu-menu .menu-add-html {
    display: inline-block;
    float: right;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
    display: inline;
  }
  #megamenu-menu .megamenu-type-category-full-image .megamenu-haschild {
    display: inline;
    vertical-align: top;
  }
  #megamenu-menu .megamenu-type-category-full .megamenu-haschild {
    display: inline;
    vertical-align: top;
  }
  #megamenu-menu .megamenu-type-information .megamenu-haschild {
    display: inline;
    vertical-align: top;
  }
  #megamenu-menu .megamenu-thumb {
    width: 20px;
    margin-right: 3px;
  }
  #megamenu-menu .dropdown-img {
    display: inline-block;
  }
  #megamenu-menu .megamenu-blockwithimage {
    display: inline !important;
    vertical-align: top;
  }
  #megamenu-menu .megamenu-blockwithimage li {
    width: 160px;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  #megamenu-menu div.dropdown-inner > ul.list-unstyled {
    display: block;
  }
  #megamenu-menu div.dropdown-menu {
    width: 100%!important;
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #megamenu-menu .dropdown-inner {
    display: block;
  }
  #megamenu-menu .dropdown-inner a {
    width: 100%;
  }
  #megamenu-menu .dropdown-menu a:hover,
  #megamenu-menu .dropdown-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  #megamenu-menu .megamenu-type-category-simple .megamenu-ischild {
    padding-left: 10px;
  }
  #megamenu-menu .megamenu-type-category-full .megamenu-ischild {
    padding-left: 10px;
  }
  #megamenu-menu .megamenu-type-category-full-image .megamenu-ischild {
    padding-left: 10px;
  }
  #megamenu-menu .megamenu-type-category-full-image .megamenu-parent-img {
    display: none;
  }
  #megamenu-menu .megamenu-type-manufacturer .megamenu-parent-img {
    display: none;
  }
  #megamenu-menu .megamenu-type-product .megamenu-parent-img {
    display: none;
  }
  #megamenu-menu .megamenu-type-product .dropprice {
    display: none;
  }
  #megamenu-menu .megamenu-type-auth {
    color: red;
  }
  #megamenu-menu .menu-add-html {
    display: none;
  }
  #megamenu-menu .megamenu-thumb {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #megamenu-menu .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 1200px) {
  #megamenu-menu .nav > li > a {
    padding: 14px 5px 10px 5px;
  }
}
/**  fix megamenu длина для конкретного поля **/
#megamenu-menu .megamenu-type-category-full .megamenu-parent-title {
  white-space: nowrap;
}
#megamenu-menu > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li:nth-child(5) > div > div > ul > li:nth-child(2) > a,
#megamenu-menu > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li:nth-child(7) > div > div > ul > li:nth-child(1) > a {
  white-space: initial;
}
#megamenu-menu .nav > li > a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
